html body{
	background-color: rgba(102, 153, 204, 1) !important;
}
.container{
	background-color: #69c;
}

.hero-image{
	background: url('../images/placehold.jpg');
	width: 100%;
	-webkit-background-size: 100% 100%;
    -moz-background-size:  100% 100%;
    -o-background-size:  100% 100%;
    background-size:  100% 100%;
    display:table;
    min-height: 450px;
}
